body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
.about-us-body {
    background-repeat: no-repeat;
    background-image: url(169204241845105580.jpg);
    background-size: 100% 100%; 
    
    background-attachment: fixed;
    
    
}
.website-logo1 {
    display: inline-block;
    border-radius:5px;
    width:200px;
    height:70px;
    object-fit: cover;
}
.aboutus-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    
    padding: 10px 0px 10px 30px;
}
.aboutus-centerer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}
.text-paragraph {
    
    width:60vw;
    line-height: 2;
    margin-right: 30px;
}
.text-open-sans{
    font-family: 'Open Sans';
}
.aboutus-images {
    object-fit: cover;
    width:200px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    margin-top: 50px;
    margin-left: 40px;

}
.div4 {
    display: flex;
    justify-content: space-between;
    
    
}
.aboutus-images1 {
    object-fit: cover;
    width:200px;
    border-radius: 10px;
    border-top-right-radius: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 20px;

}
.image-layout {
    display:flex; 
    
    flex-direction: column;
    background-color:aliceblue;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: fit-content;
}
.no-wrap {
    flex-wrap: nowrap;
}
.thin-line1 {
    margin: 100px 100px;
    border-bottom:solid 1px;
}
.aboutus-icon {
    width: 30px;
    margin-right: 30px;
}
.div5 {
    display: flex;
    margin-bottom: 30px;

}
@media (max-width: 1100px) {
    .image-layout-parent {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }
    .image-layout {
        flex-direction: row;
        width: fit-content;
        padding-right: 40px;
        border-top-right-radius: 40px;
    }
    .aboutus-images {
        width:300px;
    }
    .aboutus-images1 {
        width: 300px;
    }
    .text-paragraph {
        font-size: xx-large;
        width: 100%;
        
    }
    .div4 {
        display: contents;

    }
    .div5 {
        font-size: 35px;
    }
    .aboutus-main {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        
        padding: 10px 40px 10px 30px;
    }
    .thin-line1 {
        margin: 100px 200px 400px 200px;
        border-bottom:solid 1px;
    }
    .h1 {
        font-size: 60px;
    }
}
.end-page1 {
    color: white;
    display:flex;
    background-color: rgb(58, 117, 176);
    flex:1;
    height: 200px;
    
    font-size: large;
    justify-content: space-between;
    
}